<div class="wrapper">
  <div class="logo">
    <p class="title">REGISTRATI</p>
  </div>
  <form [formGroup]="RegisterUserForm" (submit)="saveUserDetails()" class="p-3 mt-3" novalidate>
    <div class="form-field">
      <span class="icon fas fa-user"></span>
      <input type="text" name="full_name" id="full_name" placeholder="Nome e Cognome" formControlName="full_name" required>
    </div>

    <div class="form-field">
      <span class="icon fas fa-phone"></span>
      <input type="number" name="phone_number" id="phone_number" placeholder="Telefono" formControlName="phone_number" required>
    </div>

    <div class="form-field">
      <span class="icon fas fa-id-card"></span>
      <input type="text" name="cod_fisc" id="cod_fisc" placeholder="Codice Fiscale" formControlName="cod_fisc" required>
    </div>

    <div class="form-field">
      <span class="icon fas fa-envelope"></span>
      <input type="email" name="email" id="email" placeholder="Email" formControlName="email" required>
    </div>

    <div class="form-field">
      <span class="icon fas fa-key"></span>
      <input type="password" name="secret" id="pwd" placeholder="Password" formControlName="secret" [type]="hide ? 'password' : 'text'" required>
      <button type="button" class="toggle-password" (click)="hide = !hide" aria-label="Hide password" [attr.aria-pressed]="hide">
        <i class="{{ hide ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
      </button>
    </div>

    <div class="button-cta mt-5">
      <a class="ctas" routerLink="">INDIETRO</a>
      <button class="ctas" type="submit">AVANTI</button>
    </div>
  </form>
</div>
