<div class="example-container">
  <div class="login-card">
    <div class="logo">
      <p class="title">REGISTRATI</p>
    </div>
    <form [formGroup]="RegisterUserForm" (submit)="saveUserDetails()">
      <mat-form-field appearance="fill">
        <mat-label>NOME E COGNOME</mat-label>
        <input matInput required formControlName="full_name"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>TELEFONO</mat-label>
        <input matInput required formControlName="phone_number"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CODICE FISCALE</mat-label>
        <input matInput required formControlName="cod_fisc"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>EMAIL</mat-label>
        <input matInput placeholder="pat@example.com" required formControlName="email"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>PASSWORD</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="secret"/>
        <a
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </a>
      </mat-form-field>

      <div class="button-cta">
        <a
          class="ctas bg-[#303030] p-5 text-white rounded-[16px] w-1/2 hover:bg-black transition-all text-center"
          routerLink=""
        >
          INDIETRO
      </a>
      
        <button
          class="ctas bg-[#303030] p-5 text-white rounded-[16px] w-1/2 hover:bg-black transition-all"
        >
          AVANTI
        </button>
      </div>
    </form>
  </div>
</div>
