<div class="registration-section p-5 overflow w-full">
  <div class="form mt-10 overflow-hidden">
    <form action="" class="">
      <div class="mb-20">
        <p class="text-[#303030] font-bold text-4xl">DATI VEICOLO</p>
      </div>

      <div class="modello mb-5">
        <mat-form-field>
          <mat-label>MODELLO MACCHINA</mat-label>
          <input matInput required />
        </mat-form-field>
      </div>

      <div class="tipo-documento flex gap-10 mb-5">
        <mat-form-field>
          <mat-label>TIPO DI DOCUMENTO</mat-label>
          <input matInput required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>NUMERO DOCUMENTO</mat-label>
          <input matInput required />
        </mat-form-field>
      </div>

      <div class="targa mb-5">
        <mat-form-field>
          <mat-label>TARGA</mat-label>
          <input matInput required />
        </mat-form-field>
      </div>

      <div class="confirm flex justify-center items-center gap-10">
        <button
          routerLink=""
          class="ctas bg-[#303030] p-5 text-white rounded-[16px] w-[30%] hover:bg-black transition-all"
        >
          INDIETRO
        </button>
        <button
          class="ctas bg-[#303030] p-5 text-white rounded-[16px] w-[30%] hover:bg-black transition-all"
        >
          CONFERMA
        </button>
      </div>
    </form>
  </div>
</div>
